@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

@media screen and (min-width: 768px) {
  body {
    font-size: normal;
  }
}
@media screen and (min-width: 1080px) {
  body {
    font-size: large;
  }
}
@media screen and (min-width: 1440px) {
  body {
    font-size: larger;
  }
}
@media screen and (min-width: 2160px) {
  body {
    font-size: x-large;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Noto Sans JP", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', "Noto Color Emoji", sans-serif;
}

.centerFeed {
  width: calc(1920px / 3);
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  pointer-events: none;
}

header, footer {
  padding: 15px 0;
  text-align: center;
}

button {
  border: none;
  border-radius: 7.5px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  margin: 5px;
  padding: 7.5px 20px;
  cursor: pointer;
}

.mariaBtn {
  cursor: pointer;
  display: inline-block;
}

#AreYouSure {
  filter: blur(0) !important;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.ltrBox {
  text-align: center;
}
.noteTxt {
  text-align: left;
}
.noteClosing {
  text-align: right;
}

.pwaLogo {
  width: 480px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 25px 0;
}

/* colormode-wide */
@media (prefers-color-scheme: light) {
  html {
    background-color: #dcc6bb;
  }
  body {
    color: #3d374c;
  }
  button {
    background-color: #3d374c;
    color: #dcc6bb;
    box-shadow: #3d374c 0px 3px 6px;
  }
  button:hover {
    background-color: #332e3f;
  }
  a:link, a:visited {
    color: #3d374c;
    text-decoration: none;
  }
  a:hover {
    color: #332e3f;
    text-decoration: none;
  }
  a:active {
    color: #4f4863;
    text-decoration: none;
  }
  .mariaBtn {
    filter: drop-shadow(0px 3px 6px #3d374c);
  }
  #AreYouSure {
    background-color: #dcc6bbd0;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    background-color: #3d374c;
  }
  body {
    color: #dcc6bb;
  }
  button {
    background-color: #dcc6bb;
    color: #3d374c;
    box-shadow: #dcc6bb 0px 3px 6px;
  }
  button:hover {
    background-color: #c0ada4;
  }
  a:link, a:visited {
    color: #dcc6bb;
    text-decoration: none;
  }
  a:hover {
    color: #c0ada4;
    text-decoration: none;
  }
  a:active {
    color: #f0d8cc;
    text-decoration: none;
  }
  .mariaBtn {
    filter: drop-shadow(0px 3px 6px #dcc6bb);
  }
  #AreYouSure {
    background-color: #3d374cd0;
  }
}