body { background-image: url("/assets/images/subcollective/cosmaria/cosmaria_bg.png"); }
#loadBlock { background-image: url("/assets/images/subcollective/cosmaria/cosmaria_bg.png"); }

.frontImg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.frontImg {
  width: 100vw;
  height: 100vh;
}