/* applies to only the specific page */

.frontImg, .frontText {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.frontImg {
  width: 100%;
  height: 100%;
}
.frontText > div {
  padding: 15rem 1rem;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
 }
.frontText > div > div {
  width: 750px;
  max-width: 100%;
  margin: 0 auto !important;
}
.frontText > div > div > * { margin: 0; }
.frontText > div > div > img { margin: 0 auto; }

img[alt="Mother Agatha, the First Maria🍃"] { border: 0.5rem solid #793a80; }
img[alt="Aura Ostara, the Second Maria🪷"] { border: 0.5rem solid #66a898; }
img[alt="Hina Oujo, the Third Maria🌸"] { border: 0.5rem solid #f0a9a9; }

.mariaValues[back] { background-color: #dcc6bb; }
.mariaValues[fore] {
  width: 1080px;
  max-width: 100%;
  padding: 15rem 1rem;
  text-align: center;
  margin: 0 auto;
}
[mCVTable]::after {
  content: "";
  display: block;
  clear: both;
}
[mCVTable] > div {
  float: left;
  width: 50%;
  max-width: 100%;
  padding: 1rem;
}
[mCVTable] > div > * {
  display: block;
  margin: 0;
  -webkit-filter: drop-shadow(2px 4px 16px #3d374c80);
  filter: drop-shadow(2px 4px 16px #3d374c80);
}
@media screen and (max-width: 720px) {
  [mCVTable] > div { width: 100%; }
}


/* meet the Marias v2 */

.mariaListV2 {
  padding: 15rem 1rem;
  & div {
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    & * { margin: 0; }
    & div {
      width: 100%;
      margin: 0 auto !important;
      display: block;
      text-align: center;
    }
    & img {
      border-radius: 50%;
      width: calc(15rem * 1.5);
      max-width: 100%;
      aspect-ratio: 1 / 1;
      margin: 0 auto !important;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center center;
      object-position: center center;
      -webkit-filter: drop-shadow(2px 4px 16px #3d374c80);
      filter: drop-shadow(2px 4px 16px #3d374c80);
    }
  }
}
@media screen and (max-width: 1080px) {
  .mariaListV2 {
    & div {
      max-width: fit-content;
      grid-template-columns: 1fr !important;
    }
  }
}
.vtmProfiler {
  /* background-color: #3d374c80; */
  /* padding: 1rem; */
  border-radius: 1.5rem;
  padding: calc(1rem * 0.5);
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: 0.625s;
  -moz-transition: 0.625s;
  -o-transition: 0.625s;
  transition: 0.625s;
}
.vtmProfiler:hover { background-color: #3d374c40; }


/* dialog v3 */

.mariaDiagV3 {
  position: absolute;
  z-index: calc(2022 + 23);
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  opacity: 0;
  display: none;
  & * { margin: 0; }
  & img {
    display: block;
    margin: 0 auto;
    width: calc(15rem * 1.5);
    border-radius: 50%;
    -webkit-filter: drop-shadow(2px 4px 16px #3d374c80);
    filter: drop-shadow(2px 4px 16px #3d374c80);
  }
}
.mariaDiagV3 > div {
  width: 60rem;
  max-width: 100%;
  height: 45rem;
  max-height: 100%;
  padding: 1rem;
  background-color: #dcc6bb;
  color: #3d374c;
  border-radius: 1.5rem;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  transform: scale(0.95);
  opacity: 0;
  -webkit-filter: drop-shadow(2px 4px 16px #3d374c80);
  filter: drop-shadow(2px 4px 16px #3d374c80);
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
div[class^="vtmGrid"] {
  width: 100%;
  height: 100%;
}
.vtmGrid1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.vtmGrid2 {
  padding: 3rem 0;
  overflow-y: auto;
  & h2 { font-style: italic; }
  & span {
    display: block;
    font-size: calc(1em * 0.75);
  }
}
.vtmSocials {
  width: calc(15rem * 1.5);
  max-width: 100%;
  margin: 0 auto;
  & .bi {
    display: inline-block;
    margin: 0 auto;
    color: #3d374c;
    cursor: pointer;
    font-size: 1em;
    padding: calc(1rem * 0.25);
  }
}
[AgaChuu] > .bi:hover { color: #793a80; }
[AuraOstara] > .bi:hover { color: #66a898; }
[HinaOujo] > .bi:hover { color: #f0a9a9; }
@media screen and (max-width: 1080px) {
  .mariaDiagV3 { padding: 4.5rem 0; }
  .mariaDiagV3 > div {
    gap: 2.5rem;
    grid-template-columns: 100% !important;
    overflow-y: auto;
  }
  .vtmGrid1 { display: block; }
  .vtmGrid2 {
    padding: 0;
    overflow-y: initial;
    & * { text-align: center; }
    & button {
      display: block;
      margin: 0 auto;
    }
  }
}


/* the Marias' Sub-Collectives v2 */

.vtmSubCollV2 {
  background-color: #3d374c;
  color: #ffffff;
  padding: 15rem 1rem;
  text-align: center;
  & h1, h2, h3, h4, h5, h6 {
    -webkit-filter: drop-shadow(2px 4px 16px #dcc6bb80);
    filter: drop-shadow(2px 4px 16px #dcc6bb80);
  }
  & div {
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    & * { margin: 0; }
    & div {
      width: 100%;
      margin: 0 auto !important;
      display: block;
      text-align: center;
    }
    & img {
      border-radius: 1.5rem;
      width: calc(15rem * 1.5);
      max-width: 100%;
      aspect-ratio: 16 / 9;
      margin: 0 auto !important;
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: center center;
      object-position: center center;
    }
  }
}
@media screen and (max-width: 1080px) {
  .vtmSubCollV2 {
    & div {
      max-width: fit-content;
      grid-template-columns: 1fr !important;
    }
  }
  .csmBranding {
    padding-bottom: 5rem;
    & img[src="/assets/images/subcollective/cosmaria/cosmaria_logo.png"] { padding-top: 7.5rem; }
  }
  .spacerLargeInDiag { display: block !important; }
}
.subCollProfiler {
  /* background-color: #3d374c80; */
  /* padding: 1rem; */
  border-radius: 1.5rem;
  padding: calc(1rem * 0.5);
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: 0.625s;
  -moz-transition: 0.625s;
  -o-transition: 0.625s;
  transition: 0.625s;
}
.subCollProfiler:hover { background-color: #dcc6bb40; }


/* privacy screen */

[privacyPolicy] {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  padding: 15rem 1rem;
}


/* applies to all pages to avoid cluttering */

.titleHead {
  width: 100%;
  padding: calc(250px + 30px) 15px 250px 15px;
  background-image: url("/assets/images/backgrounds/vtm_3.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.titleHead > div {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
}
.titleHead > div > * {
  margin: 0 !important;
  text-align: center;
}

.feedSelector > div {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
  padding: 90px 15px;
}
.feedSelector > div > div { margin: 1.75rem 0; }
.feedSelector > div > div > * {
  display: block;
  margin: 0 0 1.125rem 0;
  text-align: left;
}
.feedSelector > div > div > span {
  margin: 0;
  font-style: italic;
}


/* section blocks per page */

#home, #anniversary, #story, #music, #event, #letter, #press { display: none; }