/* applies to only the specific page */

#anniversary, #story, #event, #letter, #press {
  display: none;
}

.frontImg, .frontText {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.frontImg {
  width: 100vw;
  height: 100vh;
}
.frontText {
  padding: 15rem 1rem;
}
.frontText > div {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
}


/* applies to all pages to avoid cluttering */

.titleHead {
  width: 100vw;
  padding: calc(250px + 30px) 15px 250px 15px;
  background-image: url("/assets/images/backgrounds/vtm_3.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.titleHead > div {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
}
.titleHead > div > * {
  margin: 0 !important;
  text-align: center;
}