/* applies to only the specific page */

.frontImg, .frontText {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.frontImg {
  width: 100vw;
  height: 100vh;
}
.frontText > div {
  padding: 15rem 1rem;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
 }
.frontText > div > div {
  width: 750px;
  max-width: 100%;
  margin: 0 auto !important;
}
.frontText > div > div > * { margin: 0; }
.frontText > div > div > img { margin: 0 auto; }

.mariaList, .mariaValues[fore], .mariaAffils[fore] {
  width: 1080px;
  max-width: 100%;
  padding: 15rem 1rem;
  text-align: center;
  margin: 0 auto;
}
[mariaTable]::after, [mCVTable]::after {
  content: "";
  display: block;
  clear: both;
}

[mariaTable] > div {
  float: left;
  width: 33.33%;
  max-width: 100%;
  padding: 1rem;
}
[mariaTable] > div > * {
  display: block;
  margin: 0;
  -webkit-filter: drop-shadow(2px 4px 16px #3d374c80);
  filter: drop-shadow(2px 4px 16px #3d374c80);
}
[mariaTable] > div > span { font-style: italic; }
[mariaTable] > div > span[class^="material-symbols"] {
  display: inline-block;
  font-style: initial;
}
[mariaTable] > div > img {
  margin: 0 auto !important;
  border-radius: 50%;
  width: 20rem;
  max-width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img[alt="Mother Agatha, the First Maria🍃"] { border: 0.5rem solid #793a80; }
img[alt="Aura Ostara, the Second Maria🪷"] { border: 0.5rem solid #66a898; }
img[alt="Hina Oujo, the Third Maria🌸"] { border: 0.5rem solid #f0a9a9; }
@media screen and (max-width: 720px) {
  [mariaTable] > div { width: 100%; }
}

.mariaValues[back] { background-color: #dcc6bb; }
[mCVTable] > div {
  float: left;
  width: 50%;
  max-width: 100%;
  padding: 1rem;
}
[mCVTable] > div > * {
  display: block;
  margin: 0;
  -webkit-filter: drop-shadow(2px 4px 16px #3d374c80);
  filter: drop-shadow(2px 4px 16px #3d374c80);
}
@media screen and (max-width: 720px) {
  [mCVTable] > div { width: 100%; }
}

.mariaAffils[back] {
  background-color: #3d374c;
  color: #fff;
}
.mariaAffils[fore] > * {
  -webkit-filter: drop-shadow(2px 4px 16px #dcc6bb80);
  filter: drop-shadow(2px 4px 16px #dcc6bb80);
}
.mariaAffils[fore] > [affilName] {
  display: inline-block;
  text-align: center;
  width: 20rem;
  max-width: 100%;
  padding: 0.5rem;
}
.mariaAffils[fore] > [affilName] > * { margin: 0; }
.mariaAffils[fore] > [affilName] > img {
  aspect-ratio: 18 / 9;
  -o-object-fit: contain;
  object-fit: contain;
}
.mariaAffils[fore] > [affilName] > img[csm2025] {
  -webkit-filter: brightness(1000%);
  filter: brightness(1000%);
}
.mariaAffils[fore] > [affilName] > span {
  display: block;
  font-style: italic;
}
.mariaAffils[fore] > [affilName] > span[class^="material-symbols"] {
  display: inline-block;
  font-style: initial;
}


/* dialog v2 */

#mariaDiag {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #dcc6bbc0;
  z-index: 5000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  /* opacity: 0; */
  /* -webkit-transition: 1.25s; */
  /* -moz-transition: 1.25s; */
  /* -o-transition: 1.25s; */
  /* transition: 1.25s; */
}
#mariaDiag > div {
  max-width: 100%;
  max-height: 100%;
  padding: 1rem;
  -webkit-filter: drop-shadow(2px 4px 16px #3d374c80);
  filter: drop-shadow(2px 4px 16px #3d374c80);
  overflow: auto;
}
#mariaDiag > div > *, #mariaDiag > div > div > * { margin: 0 !important; }
#mariaDiag > div > img {
  display: block;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin: 0 auto !important;
}
#mariaDiag > div > span {
  display: block;
  font-style: italic;
  margin-top: 1rem;
}
#mariaDiag > iframe {
  max-width: 100%;
  height: auto;
  border: none;
  border-radius: 0.75rem;
  -webkit-filter: drop-shadow(2px 4px 16px #3d374c80);
  filter: drop-shadow(2px 4px 16px #3d374c80);
}


/* privacy screen */

[privacyPolicy] {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  padding: 15rem 1rem;
}
[privacyPolicy] > p > a { text-decoration: underline; }


/* applies to all pages to avoid cluttering */

.titleHead {
  width: 100vw;
  padding: calc(250px + 30px) 15px 250px 15px;
  background-image: url("/assets/images/backgrounds/vtm_3.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.titleHead > div {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
}
.titleHead > div > * {
  margin: 0 !important;
  text-align: center;
}

.feedSelector > div {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
  padding: 90px 15px;
}
.feedSelector > div > div { margin: 1.75rem 0; }
.feedSelector > div > div > * {
  display: block;
  margin: 0 0 1.125rem 0;
  text-align: left;
}
.feedSelector > div > div > span {
  margin: 0;
  font-style: italic;
}


/* section blocks per page */

#home, #anniversary, #story, #music, #event, #letter, #press { display: none; }