.vtmMediaPlayer { padding: 10rem 1rem; }
.vtmMediaPlayer > div {
  width: calc(1080px);
  max-width: 100%;
  margin: 0 auto;
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 30% 70%;
}
.vtmMediaPlayer > div > .vtmAlbum {
  height: 100%;
  display: flex;
  align-items: start;
  margin-top: 7.5rem;
}
.vtmMediaPlayer > div > .vtmAlbum img {
  width: 360px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 0.75rem;
  -webkit-filter: drop-shadow(2px 4px 16px #3d374c80);
  filter: drop-shadow(2px 4px 16px #3d374c80);
}
.vtmMediaPlayer > div > .vtmSongSelector { padding: 0 0 0 3rem; }
.vtmMediaPlayer > div > .vtmSongSelector * { margin: 0; }
@media screen and (max-width: 720px) {
  .vtmMediaPlayer > div { grid-template-columns: 100%; }
  .vtmMediaPlayer > div > .vtmAlbum { margin-top: 0 !important; }
  .vtmMediaPlayer > div > .vtmSongSelector { padding: 3rem 0 0 0; }
}

.songSelect > div {
  width: 100%;
  padding-bottom: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
}
.songSelect span[class^="material-symbols"] {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #3d374c;
  color: #dcc6bb;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  font-size: 0.875em;
  -webkit-filter: drop-shadow(2px 4px 16px #3d374c80);
  filter: drop-shadow(2px 4px 16px #3d374c80);
}
.songSelect span[class^="material-symbols"]:hover {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  background-color: #dcc6bb;
  color: #3d374c;
}