/* /?vtm=press */

.feedSelector > div {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
  padding: 90px 15px;
}
.feedSelector > div > div {
  margin: 1.75rem 0;
}
.feedSelector > div > div > * {
  display: block;
  margin: 0 0 1.125rem 0;
  text-align: left;
}
.feedSelector > div > div > span {
  margin: 0;
  font-style: italic;
}


/* /press */

#articlTxt {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  padding: 90px 15px;
}
#articlTxt > * {
  display: block;
  margin: 0 0 1.125rem 0;
  text-align: left;
}
#articlTxt > span {
  font-style: italic;
}