@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* official vtm gfont implementation */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');

/* main elements */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #3d374c;
  background-image: url(media/images/backgrounds/vtm_3.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  font-family: "Noto Serif Display", "Noto Serif JP", serif;
  letter-spacing: -1px;
  font-weight: 500;
  color: #dcc6bb;
}
/*
@media (prefers-color-scheme: light) {
  html {
    background-color: #dcc6bb;
    color: #3d374c;
  }
  body {
    text-shadow: 2px 4px 16px #3d374c80;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    background-color: #3d374c;
    color: #dcc6bb;
  }
  body {
    text-shadow: 2px 4px 16px #dcc6bb80;
  }
}
*/

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -2px;
}
h1 {
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

header {
  width: 100vw;
  padding: 25px;
  background: linear-gradient(#dcc6bb, #00000000);
  filter: drop-shadow(2px 4px 16px #3d374c80);
  display: inline-flex;
  align-items: start;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}
footer {
  padding: 25px;
  background-image: url(media/images/backgrounds/vtm_defBG.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  text-shadow: 2px 4px 16px #3d374c80;
  z-index: -2;
}

button {
  background-color: #793a80;
  border: solid 1.25px white;
  border-radius: 1000px;
  color: white;
  padding: 10px 25px;
  font-family: inherit;
  font-weight: 600;
  font-style: italic;
  font-size: medium;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  filter: drop-shadow(2px 4px 16px #3d374c80);
}
button:hover {
  background-color: #66a898;
}
button:active {
  background-color: #f0a9a9;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

a:link {
  color: #c4b0a6;
  text-decoration: none;
}
a:hover {
  color: #eed5c9;
  text-decoration: none;
}
a:active {
  color: #584b7a;
  text-decoration: none;
}
a:visited {
  color: #322d3d;
  text-decoration: none;
}

/* custom classes */

.vtmLogo {
  width: 250px;
  display: unset;
  filter: drop-shadow(2px 4px 16px #3d374c80);
}
#navClosed {
  width: 36px;
  display: unset;
  filter: drop-shadow(2px 4px 16px #3d374c80);
  cursor: pointer;
}
.navOpen {
  width: 36px;
  display: unset;
  cursor: pointer;
  filter: drop-shadow(2px 4px 16px #dcc6bb80);
}

.loading /* splashscreen */ {
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #3d374c;
  background-image: url(media/images/backgrounds/vtm_1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-transition: 2.5s;
  -moz-transition: 2.5s;
  -o-transition: 2.5s;
  transition: 2.5s;
  box-shadow: 2px 4px 100px 16px #3d374c80;
}
#removeLoad {
  filter: drop-shadow(2px 4px 16px #3d374c80);
}

#mainPage {
  background-image: url(media/images/20240128_remaster.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #3d374c;
  text-shadow: 2px 4px 16px #3d374c80;
}
.intro {
  padding: 250px 25px;
  background-image: url(media/images/20240128_remaster_blurred.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tableLayout:after /* floatfix */ {
  content: "";
  display: block;
  clear: both;
}
.twoCol {
  float: left;
  width: 50%;
  max-width: 100%;
  text-align: center;
}
.threeCol {
  float: left;
  width: 33.33%;
  max-width: 100%;
  text-align: center;
}
.fourCol {
  float: left;
  width: 25%;
  max-width: 100%;
  text-align: center;
}
@media screen and (max-width: 950px) {
  .twoCol, .threeCol, .fourCol {
    width: 100%;
    padding-bottom: 25px;
  }
}

#navPanel, #tarotPanel {
  z-index: 5;
  width: 0;
  max-width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #3d374c;
  padding: 25px 0;
  right: 0;
  text-align: center;
  -webkit-transition: 1.25s;
  -moz-transition: 1.25s;
  -o-transition: 1.25s;
  transition: 1.25s;
  box-shadow: 2px 4px 100px 16px #3d374c80;
  text-shadow: 2px 4px 16px #dcc6bb80;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
  display: block;
}
.vtmLogoPanel {
  width: 175px;
  display: unset;
  filter: drop-shadow(2px 4px 16px #dcc6bb80);
}

/* responsive layouts */

@media screen and (min-width: 768px) {
  body {
    font-size: large;
  }
}
@media screen and (min-width: 1080px) {
  body {
    font-size: larger;
  }
}
@media screen and (min-width: 1440px) {
  body {
    font-size: x-large;
  }
}
@media screen and (min-width: 2160px) {
  body {
    font-size: xx-large;
  }
}

/* notes */

/*

  box-shadow: 2px 4px 100px 16px [#3d374c80/#dcc6bb80];
  filter: drop-shadow(2px 4px 16px [#3d374c80/#dcc6bb80]);
  text-shadow: 2px 4px 16px [#3d374c80/#dcc6bb80];

*/