body {
  background-image: url("/assets/images/subcollective/cosmaria/cosmaria_bg.png");
  color: #ffffff;
}
#loadBlock { background-image: url("/assets/images/subcollective/cosmaria/cosmaria_bg.png"); }
#loaderFade { filter: brightness(1000%); }

header { color: #3d374c; }

h1, h2[csmName] {
  font-family: "Imperial Script", "Windows 11 Emoji", cursive;
  font-style: normal;
  font-size: 5rem;
  letter-spacing: normal;
}
h2[csmName] {
  font-size: calc(4rem - calc(4rem / 8));
  font-weight: normal;
}
@media screen and (max-width: 720px) {
  h1 { font-size: 3.75rem; }
  h2[csmName] { font-size: 2.75rem; }
}

.titleHead {
  width: 100vw;
  padding: calc(250px + 30px) 15px 250px 15px;
  background-image: url("/assets/images/subcollective/cosmaria/cosmaria_bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.titleHead > div {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
  -webkit-filter: drop-shadow(2px 4px 16px #3d374c80);
  filter: drop-shadow(2px 4px 16px #3d374c80);
}
.titleHead > div > * {
  margin: 0 !important;
  text-align: center;
}
.titleHead > div > img {
  -webkit-filter: brightness(1000%);
  filter: brightness(1000%);
}

.frontText {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.frontText > div {
  padding: 15rem 0;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  & .frontTextIntro {
    padding: 0 1rem;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    & * {
      display: block;
      margin: 0;
    }
  }
}
.frontText > div > div {
  width: 750px;
  max-width: 100%;
  margin: 0 auto !important;
}
.frontText > div > div > * { margin: 0; }

.csmMeetV2 { width: 100vw; }
.csmMeetV2 * { margin: 0; }
.csmMeetV2 > div {
  width: 1080px;
  max-width: 100%;
  padding: 15rem 1rem;
  text-align: center;
  margin: 0 auto;
}
.csmLineup {
  /* position: relative; */
  width: 100%;
  cursor: initial;
  -webkit-filter: drop-shadow(2px 4px 16px #3d374c80);
  filter: drop-shadow(2px 4px 16px #3d374c80);
}
.csmLineup * {
  -webkit-filter: none;
  filter: none;
}
.csmLineup > div {
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}
.csmLineup img {
  border-radius: 50%;
  width: calc(15rem * 1.5);
  max-width: 100%;
  aspect-ratio: 1 / 1;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  margin: 0 auto;
}
@media screen and (max-width: 1080px) {
  .csmLineup > div { grid-template-columns: 1fr !important; }
}
.csmProfiler {
  /* background-color: #3d374c80; */
  border-radius: 1.5rem;
  padding: calc(1rem * 0.5);
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: 0.625s;
  -moz-transition: 0.625s;
  -o-transition: 0.625s;
  transition: 0.625s;
}
.csmProfiler:hover { background-color: #3d374c40; }

.csmProfileFscr {
  position: absolute;
  z-index: calc(2022 + 23);
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  opacity: 0;
  display: none;
}
.csmProfileFscr * { margin: 0; }
.csmPrfDiag {
  width: 60rem;
  max-width: 100%;
  height: 45rem;
  max-height: 100%;
  padding: 1rem;
  background-color: #3d374c;
  color: #ffffff;
  border-radius: 1.5rem;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  transform: scale(0.95);
  opacity: 0;
  -webkit-filter: drop-shadow(2px 4px 16px #3d374c80);
  filter: drop-shadow(2px 4px 16px #3d374c80);
}
.csmPrfGridView {
  height: 100%;
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.csmPrfGrd1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  & div > img {
    display: block;
    margin: 0 auto;
    width: calc(15rem * 1.5);
    aspect-ratio: 1 / 1;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    border-radius: 50%;
  }
}
.csmPrfGrd2 {
  padding: 3rem 0;
  overflow-y: auto;
  & * { text-align: left; }
  & h2 { font-style: italic; }
  & span {
    display: block;
    font-size: calc(1em * 0.75);
  }
}
div[class^="csmPrfQR"] {
  display: block !important;
  width: 250px !important;
  max-width: 100% !important;
  height: auto !important;
  padding: 0.5rem;
  background-color: #ffffff;
  & * {
    max-width: 100%;
    max-height: auto;
    aspect-ratio: 1 / 1;
  }
}
.csmSocials {
  width: calc(15rem * 1.5);
  margin: 0 auto;
  & .bi {
    display: inline-block;
    margin: 0 auto;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    padding: calc(1rem * 0.25);
  }
  & .bi:hover { color: #dcc6bb; }
}
[AgaChuu] > .bi:hover { color: #793a80; }
[AuraOstara] > .bi:hover { color: #66a898; }
[HinaOujo] > .bi:hover { color: #f0a9a9; }
@media screen and (max-width: 1080px) {
  .csmPrfGridView {
    gap: 5rem;
    grid-template-columns: 100% !important;
    overflow-y: auto;
  }
  .csmPrfDiag { padding: 7.5rem 0; }
  .csmPrfGrd2 {
    padding: 0;
    overflow-y: initial;
    & * { text-align: center; }
  }
  div[class^="csmPrfQR"] { margin: 0 auto; }
}

.clspBtn {
  width: 100%;
  cursor: pointer;
  background-color: #3d374c80;
  padding: 1rem;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  & p {
    margin: 0;
    font-weight: bold;
  }
  & span {
    display: block;
    font-style: italic;
    font-size: calc(1em * 0.75);
  }
}
.clspBtn:hover { background-color: #3d374cc0; }
.clspCont {
  width: 100%;
  background-color: #3d374c80;
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  & * { margin: 0; }
}