/* article viewer */

#articlTxt {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  padding: 90px 15px;
  & * {
    /* display: block; */
    margin: 0;
    text-align: left;
  }
  & span { font-style: italic; }
  & iframe {
    width: 100;
    height: auto;
    aspect-ratio: 16 / 9;
    border: none;
    border-radius: 1.5rem;
  }
  & li { display: list-item; }
  & a { cursor: pointer !important; }
}