/* article viewer */

#articlTxt {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  padding: 90px 15px;
}
#articlTxt > * {
  display: block;
  margin: 0 0 1.125rem 0;
  text-align: left;
}
#articlTxt > span {
  font-style: italic;
}