/* IMPORTANT: responsive fontsize */
@media screen and (max-width: 540px) {
  body { font-size: normal; }
}
@media screen and (min-width: 540px) and (max-width: 1080px) {
  body { font-size: large; }
}
@media screen and (min-width: 1080px) and (max-width: 1620px) {
  body { font-size: larger; }
}
@media screen and (min-width: 1620px) and (max-width: 2160px) {
  body { font-size: x-large; }
}
@media screen and (min-width: 2160px) {
  body { font-size: xx-large; }
}

/* navbars */
@media screen and (min-width: 500px) { /* desktop layout */
  div[isDesktop] { display: flex !important; }
  div[isMobile] { display: none !important; }
  #vtmLogoHead { width: 225px; }
}
@media screen and (max-width: 500px) { /* mobile layout */
  div[isDesktop] { display: none !important; }
  div[isMobile] { display: flex !important; }
  #vtmLogoHead { width: 175px; }
}